    <aside>
    <h3>RSS</h3>
    <p><a href="/feed.xml" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></p>
    <h3>Connect with us</h3>
    <ul class="social">
    <li><a href="http://www.github.com" title="Github" class="github">Github</a></li>
    <li><a href="http://www.facebook.com" title="facebook" class="fb">Facebook</a></li>
    <li><a href="http://www.linkedin.com" title="linked in" class="linked">LinkedIn</a></li>
    <li><a href="http://www.twitter.com" title="twitter" class="twitter">Twitter</a></li>
    </ul>
    </aside>
